@mixin syncopate() {
  font-family: 'Syncopate',
    Arial,
    sans-serif;
  font-weight: 700;
}

@mixin raleway($style: regular) {

  font-family: "Raleway",
  Arial,
  sans-serif;

  @if $style==regular {
    font-weight: 400;
  }

  @if $style==medium {
    font-weight: 500;
  }

  @if $style==semibold {
    font-weight: 600;
  }

}


@mixin tablets() {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}
