.logo {
  width: 241px;
  height: 24px;
  z-index: $z-index-logo;

  @include phones {
    width: 141px;
    height: 14px;
  }
}

.logo__img {
  width: 100%;
  height: 100%;

  // @include phones {
  //   width: 103px;
  //   height: 14px;
  // }
}
