.politics {
  text-align: initial;
}

.politics__title {
  margin-bottom: 40px;

  @include tablets {
    margin-bottom: 35px;
  }

  @include phones {
    margin-bottom: 25px;
  }
}

.politics__text {
  //
}

.politics__text h3 {
  text-transform: uppercase;
  margin-bottom: 15px;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.politics__text p,
.politics__text ul li {
  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 12px;
  }
}

.politics__text p+p {
  margin-top: 20px;
}

.politics__text p + ul {
  margin-top: 20px;
}

.politics__text ul > li {
  list-style: disc;
  margin-left: 40px;
}
