<section class="advantages">
  <div class="container">
    <ul class="advantages__list _anim-items _anim-no-hide">

      <li class="advantages__item">
        <a href="" class="advantages__link">
          <div class="advantages__top">
            <h3 class="advantages__title">
              Promising future
            </h3>
            <span class="advantages__desc">
              One of the biggest draws to oil is the idea that prices will have to go up in time, as the global demand
              for
              energy, plastics, and other petroleum products continues to surge
            </span>
          </div>
          <div class="advantages__bottom">
            <svg class="advantages__arrow">
              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="advantages__item">
        <a href="" class="advantages__link">
          <div class="advantages__top">
            <h3 class="advantages__title">
              Easy accessibility
            </h3>
            <span class="advantages__desc">
              The use of StellarityOil tokens eliminates the need for a third party, allowing for more cost-effective
              transactions
            </span>
          </div>
          <div class="advantages__bottom">
            <svg class="advantages__arrow">
              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="advantages__item">
        <a href="" class="advantages__link">
          <div class="advantages__top">
            <h3 class="advantages__title">
              Profitable
            </h3>
            <span class="advantages__desc">
              StellarityOil offers a lot of potential for profit. It will make it possible to invest in oil at
              considerably
              lower prices
            </span>
          </div>
          <div class="advantages__bottom">
            <svg class="advantages__arrow">
              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="advantages__item">
        <a href="" class="advantages__link">
          <div class="advantages__top">
            <h3 class="advantages__title">
              Stability
            </h3>
            <span class="advantages__desc">
              The United States is currently one of the most politically and economically stable oil producing countries in the world
            </span>
          </div>
          <div class="advantages__bottom">
            <svg class="advantages__arrow">
              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
            </svg>
          </div>
        </a>
      </li>



    </ul>
  </div>
</section>
