<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title _anim-items _anim-no-hide">
      Contact Us
    </h2>

    <div class="contacts__row">
      <div class="contacts__col">
        <div class="contacts__address">
          11 W 25th St New York NY 10010 USA
        </div>


        <div class="contacts__socials socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="https://t.me/oilsupply" target="blank" class="socials__link" title="Telegram">Telegram
              </a>
            </li>
            <li class="socials__item">
              <a href="https://twitter.com/Stellarity_" target="blank" class="socials__link" title="Twitter">Twitter
              </a>
            </li>
            <li class="socials__item">
              <a href="mailto:oilsupply8@gmail.com" target="blank" class="socials__link" title="Email">Email
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="contacts__col">


        <div class="contacts__form form">

          <form class="form__elem" id="form-contacts" data-netlify="true" data-netlify-recaptcha="true">
            <div class="form__row">
              <input type="text" class="form__input" placeholder="Your Name" name="username">
              <div class="form__error">Required field</div>
            </div>

            <div class="form__row">
              <input type="email" class="form__input" placeholder="Your Email" name="email">
              <div class="form__error">Required field</div>
            </div>

            <div class="form__row">
              <textarea class="form__input form__input--textarea" placeholder="Your message" name="message"></textarea>
              <div class="form__error">Required field</div>
              <div data-netlify-recaptcha="true"></div>
            </div>


            <div class="form__row">
              <div class="form__buttons">
                <button class="btn form__btn" type="submit">


                    <span>Send</span>
                    <svg class="btn-arrow">
                      <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                    </svg>
                  </button>
              </div>
            </div>
          </form>

        </div>


      </div>
    </div>
  </div>
</section>
