<section class="faq" id="faq">
  <div class="container">



    <h2 class="faq__title  _anim-items _anim-no-hide">
      Faq
    </h2>


    <div class="faq__list accordion _anim-items _anim-no-hide">
      <div class="accordion__elem">
        <div class="accordion__item">
          <button class="accordion__control" aria-expanded="false">
            <span class="accordion__title">
              How do I convert my StellarityOil tokens to XLM/USD?
            </span>
            <svg class="accordion__icon">
              <use xlink:href="images/icons/sprite.svg#plus"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>
              Trade directly on the trusted platform as Lobstr, Scopuly, Stellarterm or Stellarport.
            </p>
          </div>
        </div>
        <div class="accordion__item">
          <button class="accordion__control" aria-expanded="false">
            <span class="accordion__title">Why is StellarityOil build on stellar blockchain?
            </span>
            <svg class="accordion__icon">
              <use xlink:href="images/icons/sprite.svg#plus"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <ul>
              <li>The Stellar database is decentralized and open-source – the leading traits of a true blockchain
                platform
              </li>
              <li>The transaction confirmation time is 3 – 5 second, facilitated by its consensus mechanism.</li>
              <li>It can support thousands of transactions per second</li>
              <li>It enables Multi-signatures and Smart Contracts</li>
              <li>It has 1% fixed annual inflation</li>
            </ul>

          </div>
        </div>
        <div class="accordion__item">
          <button class="accordion__control" aria-expanded="false">
            <span class="accordion__title">Why would anybody invest in oil assets?
            </span>
            <svg class="accordion__icon">
              <use xlink:href="images/icons/sprite.svg#plus"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>By investing in oil assets, you gain exposure to the oil and gas industry commodity without having to
              directly deal with commodity spot prices. Oil isn’t going anywhere any time soon, and with energy
              consumption at all-time highs, there’s plenty of room for the asset to gain in value.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion__elem">
        <div class="accordion__item">
          <button class="accordion__control" aria-expanded="false">
            <span class="accordion__title">
              How important is oil in the economic and crypto field?
            </span>
            <svg class="accordion__icon">
              <use xlink:href="images/icons/sprite.svg#plus"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>The oil and gas industry supports millions of American jobs, provides lower energy costs for consumers,
              and ensures our energy security. The absolute income of the oil business overall is assessed to be
              somewhere in the range of 2% and 3% of worldwide GDP. This gives a thought of how fundamental oil in our
              economies is still. On the other hand, investors may profit from the stability of a well-founded economic
              field like oil exploitation, and from the dynamism and adjustability of the blockchain-supported crypto
              economy.
            </p>
          </div>
        </div>
        <div class="accordion__item">
          <button class="accordion__control" aria-expanded="false">
            <span class="accordion__title">Why did we choose the Giddings mixture for our token?
            </span>
            <svg class="accordion__icon">
              <use xlink:href="images/icons/sprite.svg#plus"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>We have real partners that contributed to our choice, and our office location is situated in Texas, which
              means we have vast knowledge about the extraction of crude oil in the city of Giddings.
            </p>
          </div>
        </div>
        <div class="accordion__item">
          <button class="accordion__control" aria-expanded="false">
            <span class="accordion__title">Is StellarityOil under the same leadership as Stellarity?
            </span>
            <svg class="accordion__icon">
              <use xlink:href="images/icons/sprite.svg#plus"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>Yes, the CEO remains the same. Moreover, we have added more high-qualified experts who can contribute to the expansion of Stellarity.
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
