<section class="hero">
  <div class="container">
    <h1 class="hero__title _anim-items _anim-no-hide">
      Fueling<br>The Future
    </h1>
    <div class="hero__desc _anim-items _anim-no-hide">
      StellarityOil is a crypto-consultancy platform promoting tokenized oils backed by real commodity spot prices<br>
      StellarityOil is the continuation of the unaltered history of the original Stellarity project
    </div>
    <a href="#" class="btn hero__btn _anim-items _anim-no-hide">
      <span>Get started</span>
      <svg class="btn-arrow">
        <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
      </svg>
      <div class="liquid"></div>
    </a>

    <div class="hero__img">
      <div class="blob">
        <canvas></canvas>
      </div>
    </div>
  </div>
</section>
