<section class="introducrion" id="intro">
  <div class="container">
    <div class="introduction__elem">
      <h2 class="introduction__title _anim-items _anim-no-hide">
        Brief introduction
      </h2>
    </div>
    <div class="introduction__elem">
      <div class="introduction__desc  _anim-items _anim-no-hide">
        <p>StellarityOil coordinates putting resources into oil with putting resources into crypto. Oil is one of the
          most hotly debated assets on the market, and as the global demand for energy, plastics and other petroleum
          products continues to surge, so too will demand for this commodity, which is in limited supply.</p>
        <p>
          This revolutionary platform of Stellarity aims to integrate the tradition and experience of the oil & gas
          industry with the innovativeness of the crypto-world.
        </p>

      </div>
    </div>
  </div>
</section>
