<section class="partners" id="partners">
  <div class="container">
    <!-- Главный контейнер слайдера -->
    <div class="partners-slider swiper">
      <!-- Обязательная оболочка -->
      <div class="partners-slider__wrapper swiper-wrapper">

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner1.svg" alt="litemint"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner2.svg" alt="lobster"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner3.svg" alt="scopuly"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner4.svg" alt="stellar"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner5.svg" alt="stellarport"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner6.svg" alt="enervest"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner7.svg" alt="magnolia"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

        <!-- Слайды (c хэшом навигации)-->
        <div class="partners-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="partners-slider__content">
            <img src="images/partner8.svg" alt="boci"class="partners-slider__img" width="133" height="61">
          </div>
        </div>

      </div>

    </div>

    <!-- Добавляем если нам нужна пагинация (параметр pagination)   -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- Добавляем если нам нужны стрелки управления (параметр navigation)-->
    <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

    <!-- Добавляем если нам нужен полоса прокрутки (параметр scrollbar)  -->
    <!-- <div class="swiper-scrollbar"></div> -->
  <!-- </div> -->
  </div>
</section>
