<section class="roadmap" id="roadmap">
  <div class="container">
    <h2 class="roadmap__title _anim-items _anim-no-hide">roadmap</h2>

    <ul class="roadmap__list">
      <li class="roadmap__item _anim-items _anim-no-hide">
        <div class="roadmap__row">
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              <span>
                Phase 1 :
              </span>
              Plannign and<br>Preparation
            </h4>
          </div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              Expert judgment and conssensus
            </h4>
          </div>
          <div class="roadmap__col">
            <div class="roadmap__text">
              <p>Establish Steering Committee</p>
              <p>Determine scope and boundaries</p>
              <p>Select partners and experts</p>
            </div>
          </div>
        </div>
        <div class="roadmap__row">
          <div class="roadmap__col roadmap__col--empty"></div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              Data and analysis
            </h4>
          </div>
          <div class="roadmap__col">
            <div class="roadmap__text">
              <p>Develop oil supplies, environmental<br>and economic data to conduct<br>baseline research</p>
            </div>
          </div>
        </div>
      </li>
      <li class="roadmap__item _anim-items _anim-no-hide">
        <div class="roadmap__row">
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              <span>
                Phase 2 :
              </span>
              Visioning
            </h4>
          </div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              Conduct senior-level vision workshop to indentify long term goals and objectives
            </h4>
          </div>
          <div class="roadmap__col roadmap__col--empty">
          </div>
        </div>
        <div class="roadmap__row">
          <div class="roadmap__col roadmap__col--empty"></div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              Analyse future scenarios for oil supply and energy
            </h4>
          </div>
          <div class="roadmap__col roadmap__col--empty">
          </div>
        </div>
      </li>
      <li class="roadmap__item _anim-items _anim-no-hide">
        <div class="roadmap__row">
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              <span>
                Phase 3 :
              </span>
              Roadmap<br>Development
            </h4>
          </div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              Condect expert workshop(s) to identify barriers and prioritise needed technologies, policies and economic
              goals
            </h4>
          </div>
          <div class="roadmap__col">
            <div class="roadmap__text">
              <p>Develop roadmap document</p>
              <p>Conduct reviex and consultattion<br>cycles with key partners</p>
              <p>Refine and launch roadmap</p>
            </div>
          </div>
        </div>
        <div class="roadmap__row">
          <div class="roadmap__col roadmap__col--empty"></div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              Assess potential contributions of technologies to future oil supplies and energy, envirunmental and
              economic goals
            </h4>
          </div>
          <div class="roadmap__col roadmap__col--empty">
          </div>
        </div>
      </li>
      <li class="roadmap__item _anim-items _anim-no-hide">
        <div class="roadmap__row">
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              <span>
                Phase 4 :
              </span>
              Roadmap<br>Implementation,<br>Monitoring and<br>Revision
            </h4>
          </div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">
              Conduct expert workshop(s) to reassess priorities and timeline as progress and new trends emerge
            </h4>
          </div>
          <div class="roadmap__col  roadmap__col--empty">
          </div>
        </div>
        <div class="roadmap__row">
          <div class="roadmap__col  roadmap__col--empty"></div>
          <div class="roadmap__col">
            <h4 class="roadmap__subtitle">Track changes in oil supply, environmental and economic factors as roadmap is
              implemented
            </h4>
          </div>
          <div class="roadmap__col  roadmap__col--empty">
          </div>
        </div>
        <div class="roadmap__row">
          <div class="roadmap__col  roadmap__col--empty"></div>
          <div class="roadmap__col">
            <div class="roadmap__info">
              Recurring (1 to 3 years)
            </div>
          </div>
          <div class="roadmap__col  roadmap__col--empty"></div>
        </div>
      </li>
      <div class="roadmap__item _anim-items _anim-no-hide">
        <div class="roadmap__row">
          <div class="roadmap__col roadmap__col--empty"></div>
          <div class="roadmap__col">
            <div class="roadmap__info">
              6 to 18 month total
            </div>
          </div>
          <div class="roadmap__col roadmap__col--empty"></div>
        </div>
      </div>
    </ul>

  </div>
</section>
