<section class="team" id="team">
  <div class="container">
    <h2 class="team__title _anim-items _anim-no-hide">
      Meet our team
    </h2>

    <div class="team__row">
      <div class="team__col"></div>
      <div class="team__col _anim-items _anim-no-hide">
        <p>At StellarityOil, we offer everyone, from anywhere, easy access to digital transmission, through a highly secure
          Blockchain. This is why we have surrounded ourselves with a solid team of entrepreneurs, engineers and
          researchers.</p>
      </div>
    </div>


    <!-- Главный контейнер слайдера -->
    <div class="team-slider swiper">
      <!-- Обязательная оболочка -->
      <div class="team-slider__wrapper swiper-wrapper">
<!-- Слайды (c хэшом навигации)-->
<div class="team-slider__slide swiper-slide">
  <!-- Контент внутри слайдера -->
  <div class="team-slider__content">
    <div class="team-slider__top">
      <div class="team-slider__img-wrap">
        <img src="images/avatar1.png" alt="Phillip Maysonc" class="team-slider__img" width="360" height="404">
      </div>
      <div class="team-slider__desc">Phillip has more than 25 years of experience in strategic investment and operations
        management, and has a deep understanding of business operation mode. Completed training and internship at
        Halliburton Energy Services in Dallas. Worked his way from driller to CEO of a drilling company.In 2012, Phillip
        discovered the value of Bitcoin and the technological innovations behind it, so he decided to join the
        cryptocurrency industry.</div>
    </div>
    <div class="team-slider__bottom">
      <h5 class="team-slider__fullname">
        Phillip Mayson
      </h5>
      <div class="team-slider__position">
        Chief Executive Officer
      </div>
    </div>
  </div>
</div>
<!-- Слайды (c хэшом навигации)-->
<div class="team-slider__slide swiper-slide">
  <!-- Контент внутри слайдера -->
  <div class="team-slider__content">
    <div class="team-slider__top">
      <div class="team-slider__img-wrap">
        <img src="images/avatar2.png" alt="John Lacroach" class="team-slider__img" width="360" height="404">
      </div>
      <div class="team-slider__desc">Within his 15 year experience working with private institutions, John has received
        extensive knowledge of digital investigations, data engineering, algorithm design, security audits and forensic
        analysis. John accumulated a track record of building teams ground up and transforming existing teams to deliver
        exponential improvements.</div>
    </div>
    <div class="team-slider__bottom">
      <h5 class="team-slider__fullname">
        John Lacroach
      </h5>
      <div class="team-slider__position">
        Co-founder
      </div>
    </div>
  </div>
</div>
<!-- Слайды (c хэшом навигации)-->
<div class="team-slider__slide swiper-slide">
  <!-- Контент внутри слайдера -->
  <div class="team-slider__content">
    <div class="team-slider__top">
      <div class="team-slider__img-wrap">
        <img src="images/avatar3.png" alt="Elias James" class="team-slider__img" width="360" height="404">
      </div>
      <div class="team-slider__desc">Elias James, expert of blockchain industry and Cyber security and applying
        cryptographic technologies into world systems with a degree in Cybersecurity but also in geology and exploration
        of oil and gas fields at State Petroleum Technical University..</div>
    </div>
    <div class="team-slider__bottom">
      <h5 class="team-slider__fullname">
        Elias James
      </h5>
      <div class="team-slider__position">
        CTO & Tech Expert
      </div>
    </div>
  </div>
</div>
<!-- Слайды (c хэшом навигации)-->
<div class="team-slider__slide swiper-slide">
  <!-- Контент внутри слайдера -->
  <div class="team-slider__content">
    <div class="team-slider__top">
      <div class="team-slider__img-wrap">
        <img src="images/avatar6.png" alt="Jeff Reilly" class="team-slider__img" width="360" height="404">
      </div>
      <div class="team-slider__desc">Jeff is a digital marketing executive specializing in targeted ads, digital PR, and branding. He holds an MSc in Digital Marketing and many professional certifications. Jeff has worked his way up from agency content manager to marketing chief for several startups in the field of blockchain. He is focused on improving brand awareness and creating new strategies for Stellarity's growth in the blockchain and cryptocurrency space.</div>
    </div>
    <div class="team-slider__bottom">
      <h5 class="team-slider__fullname">
        Jeff Reilly
      </h5>
      <div class="team-slider__position">
        Marketing Executive
      </div>
    </div>
  </div>
</div>
<!-- Слайды (c хэшом навигации)-->
<div class="team-slider__slide swiper-slide">
  <!-- Контент внутри слайдера -->
  <div class="team-slider__content">
    <div class="team-slider__top">
      <div class="team-slider__img-wrap">
        <img src="images/avatar7.png" alt="Deryck Rayner" class="team-slider__img" width="360" height="404">
      </div>
      <div class="team-slider__desc">Besides working as a Marketing and sales specialist with international experience in a career that spans more than 10 years, Deryck has extensive experience in a business and finance,having worked both in traditional banking insitutions and fintech companies as well as having been an entrepreneur.</div>
    </div>
    <div class="team-slider__bottom">
      <h5 class="team-slider__fullname">
        Deryck Rayner
      </h5>
      <div class="team-slider__position">
        Chief Strategy Officer
      </div>
    </div>
  </div>
</div>


      </div>

    </div>

  </div>
</section>
