<section class="tokens" id="tokens">
  <div class="container">
    <h2 class="tokens__title _anim-items _anim-no-hide">
      Meet our tokens
    </h2>

        <!-- Главный контейнер слайдера -->
        <div class="tokens-slider swiper _anim-items _anim-no-hide">
          <!-- Обязательная оболочка -->
          <div class="tokens-slider__wrapper swiper-wrapper">
            <!-- Слайды (c хэшом навигации)-->
            <div class="tokens-slider__slide swiper-slide">
              <!-- Контент внутри слайдера -->
              <div class="tokens-slider__content">

                <div class="tokens__row">
                  <div class="tokens__col">
                    <div class="tokens__block">
                      <ul class="tokens__list">
                        <li class="tokens__item">
                          <span class="tokens__item-name">Token name:</span>
                          <span class="tokens__item-value">CrudeOil</span>
                        </li>
                        <li class="tokens__item">
                          <span class="tokens__item-name">Symbol:</span>
                          <span class="tokens__item-value">OILT</span>
                        </li>
                        <li class="tokens__item">
                          <span class="tokens__item-name">Total supply:</span>
                          <span class="tokens__item-value">1 Mil</span>
                        </li>
                      </ul>
                    </div>

                    <div class="tokens__block">
                      <div class="tokens__content">
                        <p>CrudeOil provide an opportunity to invest in both the oil market and cryptocurrency. OILT
                          tokens shall be
                          available for purchase in all its phases. Each OILT token represents an oil contract, where
                          StellarityOil
                          commits to repurchase it in exchange for 1 gallon of Giddings crude oil, or its equivalent
                          market price,
                          at a maturity date.</p>
                      </div>
                    </div>


                    <div class="tokens__block">
                      <ul class="tokens__buttons">
                        <li class="tokens__buttons-row">
                          <a href="https://lobstr.co/trade/OILT:GANAEQJ5X22UY2PNGS2GPOQQ2OYRBLITGXOOTZENGKRVVFOCGR2QPTI7"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Lobstr</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                          <a href="https://scopuly.com/trade/OILT-XLM/GANAEQJ5X22UY2PNGS2GPOQQ2OYRBLITGXOOTZENGKRVVFOCGR2QPTI7/native"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Scopuly</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                        </li>
                        <li class="tokens__buttons-row">
                          <a href="https://stellarport.io/exchange/GANAEQJ5X22UY2PNGS2GPOQQ2OYRBLITGXOOTZENGKRVVFOCGR2QPTI7/OILT/native/XLM"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Stellarport</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                          <a href="https://stellarterm.com/exchange/OILT-GANAEQJ5X22UY2PNGS2GPOQQ2OYRBLITGXOOTZENGKRVVFOCGR2QPTI7/XLM-native"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Stellarterm</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tokens__col tokens__col--nav">
                    <div class="tokens__pic-wrap">
                      <div class="tokens__pic">
                        <img src="images/tokens.svg" class="tokens__img" alt="tokens" width="155" height="254">
                      </div>
                    </div>
                    <div class="token__nav">
                      <div class="token__nav-prev"></div>
                      <div class="token__nav-next"></div>
                    </div>
                  </div>


                </div>
              </div>
            </div>

            <!-- Слайды (c хэшом навигации)-->
             <div class="tokens-slider__slide swiper-slide">
              <div class="tokens-slider__content">

                <div class="tokens__row">
                  <div class="tokens__col">
                    <div class="tokens__block">
                      <ul class="tokens__list">
                        <li class="tokens__item">
                          <span class="tokens__item-name">Token name 2:</span>
                          <span class="tokens__item-value">StellarityOil</span>
                        </li>
                        <li class="tokens__item">
                          <span class="tokens__item-name">Symbol:</span>
                          <span class="tokens__item-value">OILT</span>
                        </li>
                        <li class="tokens__item">
                          <span class="tokens__item-name">Total supply:</span>
                          <span class="tokens__item-value">10 Mil</span>
                        </li>
                      </ul>
                    </div>

                    <div class="tokens__block">
                      <div class="tokens__content">
                        <p>CrudeOil provide an opportunity to invest in both the oil market and cryptocurrency. OILT
                          tokens shall be available for purchase in all its phases. Each OILT token represents an oil
                          contract, where StellarityOil commits to repurchase it in exchange for 1 gallon of Giddings
                          crude oil, or its equivalent market price, at a maturity date.</p>
                      </div>
                    </div>


                    <div class="tokens__block">
                      <ul class="tokens__buttons">
                        <li class="tokens__buttons-row">
                          <a href="https://lobstr.co/trade/XLS:GDERYRDAOITUY44PABGDBFUPYV4DDMYQZ5O3XX4FGBYIVOCN5NRXACXJ"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Lobstr</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                          <a href="https://scopuly.com/trade/XLS-XLM/GDERYRDAOITUY44PABGDBFUPYV4DDMYQZ5O3XX4FGBYIVOCN5NRXACXJ/native"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Scopuly</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                        </li>
                        <li class="tokens__buttons-row">
                          <a href="https://stellarport.io/exchange/GDERYRDAOITUY44PABGDBFUPYV4DDMYQZ5O3XX4FGBYIVOCN5NRXACXJ/XLS/native/XLM"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Stellarport</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                          <a href="https://stellarterm.com/exchange/XLS-GDERYRDAOITUY44PABGDBFUPYV4DDMYQZ5O3XX4FGBYIVOCN5NRXACXJ/XLM-native"
                            class="btn btn--bordered tokens__btn">
                            <span>Buy on Stellarterm</span>
                            <svg class="btn-arrow tokens__btn-arrow">
                              <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                            </svg>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tokens__col tokens__col--nav">
                    <div class="tokens__pic-wrap">
                      <div class="tokens__pic tokens__pic--seconds">
                        <img src="images/tokens1.png" class="tokens__img" alt="tokens" width="198" height="218">
                      </div>
                    </div>
                    <div class="token__nav">
                      <div class="token__nav-prev"></div>
                      <div class="token__nav-next"></div>
                    </div>
                  </div>


                </div>
              </div>
            </div>


          </div>


        </div>
        <!-- Добавляем если нам нужна пагинация (параметр pagination)   -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- Добавляем если нам нужны стрелки управления (параметр navigation)-->

        <!-- Добавляем если нам нужен полоса прокрутки (параметр scrollbar)  -->
        <!-- <div class="swiper-scrollbar"></div> -->
        <!-- </div> -->



  </div>
</section>
