<section class="why">
  <div class="container">
    <div class="why__elem">
      <h2 class="why__title _anim-items _anim-no-hide">
        Why choose us?
      </h2>
    </div>
    <div class="why__elem">
      <div class="why__desc _anim-items _anim-no-hide">
        <p>We are giving a way to everybody to get openness to true market patterns.</p>
        <p>Our market-producers will guarantee the synchronization of costs with true resources.</p>
        <p>The services we provide to ensure our efficiency are listed below.</p>
      </div>
    </div>
  </div>
</section>
