<header class="header lock-padding">
  <div class="container">
    <!-- logo -->
    <div class="logo">
      <a href="index.html" class="logo__link">
        <img src="images/logo.svg" alt="OILSupply" class="logo__img" width="181" height="24">
      </a>
    </div>

    <!-- menu -->
    <nav class="menu">

      <button class="menu__toggle">
        скрыть меню
        <span></span>
      </button>

      <div class="menu__dropdown">
        <ul class="menu__list menu__list--adaptive">
          <li class="menu__item">
            <!--  -->
            <a href="#intro" class="menu__link">About Us</a>
          </li>
          <li class="menu__item">
            <a href="#tokens" class="menu__link">Our Tokens</a>
          </li>
          <li class="menu__item">
            <a href="#roadmap" class="menu__link">Roadmap</a>
          </li>
          <li class="menu__item">
            <a href="#team" class="menu__link">Our Team</a>
          </li>
          <li class="menu__item">
            <a href="#mission" class="menu__link">Our Mission</a>
          </li>
          <li class="menu__item">
            <a href="#partners" class="menu__link">Partners</a>
          </li>
          <li class="menu__item">
            <a href="#faq" class="menu__link">FAQ</a>
          </li>
          <li class="menu__item">
            <a href="#contacts" class="menu__link">Contact</a>
          </li>
        </ul>


      </div>

    </nav>





  </div>
</header>

