.contacts {
  padding: 90px 0;

  @include phones {
    padding: 25px 0;
  }
}
.contacts__title {
  margin-bottom: 50px;
  transform: translate(0px, 150%);
  opacity: 0;
  transition: all .8s ease 0s;

  @include phones {
    margin-bottom: 30px;
  }
}
.contacts__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.contacts__row {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.contacts__row>.contacts__col+.contacts__col {
  @include phones {
    margin-top: 50px;
  }
}


.contacts__col {
  width: 50%;

  @include phones {
    width: 100%;
  }
}
.contacts__socials {
  //
}

.contacts__address {
  font-variant-numeric: lining-nums;
  font-size: 20px;
  color: rgba($white, 0.5);
  margin-bottom: 15px;

  @include tablets {
    font-size: 16px;
  }

  @include phones {
    font-size: 14px;
    margin-top: 10px;
  }
}
.contacts__form {
  //
}
