$black: #0f0f0f;
$white: #fff;
$orange: #E55812;


$breakpoint-tablet: 1023px;
$breakpoint-mobile: 768px;
$containerWidth: 1240px;

$z-index-menu-header: 10;
$z-index-menu-toggle: 30;
$z-index-logo: 30;
$z-index-menu-dropdown: 20;
$z-index-modal: 1000;
